body {
    font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0px;
    background-color: rgb(243, 243, 243);
}

/*menu*/
nav {
    background-color: #64CCC5;
}

nav ul li {
    letter-spacing: 2px;
}

nav ul li:last-child {
    border: none;
}
/* generales */
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0;
}

p {
    margin: 0px;
}

.calculadora {
    background-color: white;
}

/* footer */
footer {
    height: 3em;
    line-height: 3em;
    text-align: center;
}